*.sln
*.obj
*.csproj
*.userprefs
Code/FantasyWar/.vs/
Code/FantasyWar/Library/
Code/FantasyWar/asset/
Code/FantasyWar/lastRes/
Code/FantasyWar/config/
Code/FantasyWar/Temp/
Code/FantasyWar/Assets/StreamingAssets/assetbundles/